body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://i.pinimg.com/originals/4c/73/b4/4c73b4781bb0bb627e56bc0e9aa17d5e.gif");
  background-position: center;
  background-size: cover;
  width: 100%;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  /* justify-content: flex-end  */
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.party{
  padding:5px 12px;
  float: right; 
}
.lineUp {
  padding:5px 12px;
float: right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.dancer1{
  position:absolute;
}
.dancer2{
  position:absolute;
}

.dancer img {
  height: 300px;
  -webkit-transform: scaleX(-1);
  /* animation: none; */
  /* animation: rotation 1s infinite linear; */
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.dancer1 img {
  height: 250px;
    animation: rotation 1s infinite linear;
}
span{
  display: flex;
}

.dancer2 img {
  height: 300px;
}